# Virtual environment
venv/
.venv/
env/

# Data and Graph caches
*.graphml
*.geojson
*.gpkg
cache/
.cache/

# Python cache
__pycache__/
*.py[cod]
*.class

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
